version: '3.8'

networks:
  proxynet:
    name: proxynet
    external: true

services:
  guessthegame:
    ports:
      - "5173:3000"
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_IGDB_CLIENT_ID: ""
        VITE_IGDB_CLIENT_SECRET: ""
        VITE_PORT: "5173"
        CACHE_BUST: "1"
    image: guessthegame
    container_name: guessthegame
    restart: unless-stopped
    environment:
      NODE_ENV: "production"
      PORT: "3000"
    volumes:
      - ./data:/app/data
    networks:
      - proxynet

