networks:
  proxynet:
    name: proxynet
    external: true

services:
  guessthegame:
    ports:
      - "${VITE_PORT:-5173}:${PORT:-3000}"
    build:
      context: .
      dockerfile: Dockerfile
      args:
        # These build args are baked into the built app
        VITE_IGDB_CLIENT_ID: "${VITE_IGDB_CLIENT_ID}"
        VITE_IGDB_CLIENT_SECRET: "${VITE_IGDB_CLIENT_SECRET}"
        VITE_PORT: "${VITE_PORT:-5173}"
    image: guessthegame
    container_name: guessthegame
    restart: unless-stopped
    environment:
      NODE_ENV: "${NODE_ENV:-production}"
      HOST: "${HOST:-0.0.0.0}"
      PORT: "${PORT:-3000}"
      ADMIN_KEY: "${ADMIN_KEY}"
    volumes:
      - ./data:/app/data
    networks:
      - proxynet
